body {
    margin: 0;
    text-align: center;
    background-color: deepskyblue;
    font-family: PT Sans,Helvetica Neue,Arial,sans-serif!important;
}

header {
    border-bottom: 1px solid gray;
}

.header_menu {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.header_menu_child {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 1em 0;
}

.content {
    background-color: white;
    padding: 15px;
}

footer {
    border-top: 1px solid gray;
}