</div>
<footer>
    <p>Это онлайн учебник по изучению языка программирования - PHP</p>
    <p>Здесь вы найдете множество интересной и полезной информации - станьте профессионалом в WEB-разработке!</p>
    <p>Каждый может присоединиться к разработке и дополнить учебник новыми материалами - просто создайте статью!</p>
</footer>
<script src="js/main.js"></script>
</body>
</html>